@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RenderRelay Style Guide  */
:root {
    --primary: #46cbd3;
    --background: #0a0a0f;
    --background-shade: #121217;
    --text-white: #ffffff;
    --text-grey: #b3b7be;
    --border: rgba(128, 128, 128, 0.3);
    --heading: 4rem;
    --subheadings: 2.6rem;
    --paragraphs: 1.125rem;
    --captions: 1rem;
    --subtext: 0.875rem;
    --radius-lg: 2rem;
    --radius-md: 1.5rem;
    --radius-sm: 1rem;
    --spacing: 120px;
}

/* Reset Default Browser Settings */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--paragraphs);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-white);
    line-height: 1.2;
}

a {
    font-size: 1rem;
    color: var(--text-grey);
    text-decoration: none;
    transition: color 0.3s ease-in;
}

a:hover {
    color: var(--primary);
}

.text-outline {
    color: var(--primary);
}

/* Layout Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

/* Buttons */
.primary_btn {
    background-color: var(--primary);
    color: var(--background-shade);
    border-radius: 50px;
    padding: 4px 32px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
    gap: 4px;
}

.primary_btn:hover {
    color: var(--background-shade);
    background-color: rgba(70, 203, 211, 0.8);
    transform: scale(0.98);
}

.secondary_btn {
    background-color: var(--background-shade);
    color: var(--text-white);
    border-radius: 50px;
    padding: 4px 32px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--border);
    transition: all 0.3s ease-in;
}

.secondary_btn:hover {
    color: var(--text-white);
    background-color: rgba(70, 203, 211, 0.1);
    transform: scale(0.98);
}

.flex-defaults,
.hero_wrapper,
.hero_content,
.hero_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacing {
    margin-top: var(--spacing);
}

/* Sections Header */
.sections_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 550px;
    text-align: center;
}

.sections_header h4 {
    font-size: var(--captions);
    font-weight: 300;
    color: var(--primary);
    background-color: rgba(70, 203, 211, 0.1);
    border: 1px solid var(--border);
    padding: 4px 12px;
    border-radius: 50px;
}

.sections_header h2 {
    font-size: var(--subheadings);
}

.sections_header p {
    font-size: var(--paragraphs);
}

/* Navbar */

.navbar {
    background-color: rgba(18, 18, 23, 0.7);
    padding: 18px 0px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(40px);
    border-bottom: 1px solid var(--border);
    z-index: 9;
}

.navbar_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo {
    width: 200px;
    height: auto;
}

.navbar_links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar_links a {
    font-size: 1rem;
    color: var(--text-grey);
    text-decoration: none;
    transition: all 0.3s ease-in;
    position: relative;
    padding: 2px 6px;
}

.navbar_links a:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--background-shade);
    color: var(--text-white);
    border-radius: 50px;
    padding: 8px 12px;
    border: 1px solid var(--border);
    opacity: 1;
}

.navbar_links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.navbar_links a:hover {
    color: var(--text-white);
}

.navbar_btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.mobile_menu {
    display: none;
}

/* Hero Sections */

.hero_section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 80px;

    padding: 80px 0px;
}

.hero_wrapper {
    justify-content: space-between;
    width: 100%;
}

.hero_content {
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 500px;
}

.hero_content h1 {
    font-size: var(--heading);
}

.hero_content p {
    font-size: var(--paragraphs);
}
.hero_btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero_btns i {
    font-size: 24px;
    color: var(--background-shade);
}

.hero_image img {
    width: 500px;
    height: auto;
}

.trust_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.trust_card,
.solution_card,
.how_it_works_card,
.smart_features_card,
.testimony_card {
    background-color: var(--background-shade);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 26%;
    transition: all 0.3s ease-in;
}

.trust_card:hover,
.solution_card:hover,
.how_it_works_card:hover,
.smart_features_card:hover,
.testimony_card:hover {
    border-color: rgba(70, 203, 211, 0.4);
    transform: scale(0.98);
    background: linear-gradient(80deg, transparent, rgba(70, 203, 211, 0.2));
}

.trust_card i {
    font-size: 2.6rem;
    color: var(--primary);
}

.trust_card p {
    font-size: var(--paragraphs);
}

/* Solutions Section */

.solutions_section,
.how_it_works_section,
.smart_features_section,
.pricing_section,
.testimonies_section,
.faq_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.solutions_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 24px;
}

.solution_card {
    flex-direction: column;
    align-items: start;
    width: auto;
    height: 100%;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}

.medium {
    grid-column: span 1;
    grid-row: span 1;
}

.solution_contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.solution_contents h3 {
    font-size: var(--paragraphs);
}

.solution_contents p {
    font-size: var(--subtext);
}

.large h3 {
    font-size: 1.8rem;
}

.large p {
    font-size: var(--captions);
}

.medium img {
    width: 60px;
    height: auto;
}

/* How it works section */

.how_it_works_cards,
.smart_features_cards,
.pricing_cards {
    display: flex;
    gap: 24px;
}

.how_it_works_card,
.smart_features_card {
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}

.how_it_works_card i,
.smart_features_card i {
    font-size: 2.6rem;
    color: var(--primary);
}

.how_it_works_card p,
.smart_features_card p {
    font-size: var(--captions);
}

.how_it_works_card h3,
.smart_features_card h3 {
    font-size: var(--paragraphs);
}

/* Our Tools Section */

.our_tools_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

.our_tools_contents {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 500px;
}

.our_tools_contents h2 {
    font-size: var(--subheadings);
}

.our_tools_contents p {
    font-size: var(--paragraphs);
}

.our_tools_contents span {
    font-size: var(--subtext);
    color: var(--primary);
    padding-right: 120px;
}
.our_tools_img {
    display: flex;
    justify-content: flex-end;
}

.our_tools_img img {
    width: 75%;
    height: auto;
}

.smart_features_cards {
    flex-wrap: wrap;
    justify-content: space-between;
}

.smart_features_card {
    width: 23%;
}

/* Pricing Section */

.pricing_cards {
    justify-content: space-between;
    width: 100%;
}

.pricing_card {
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    padding: 24px 30px;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
}

.pricing_card h4 {
    font-size: 1.8rem;
}

.pricing_card p {
    font-size: var(--paragraphs);
}

.pricing_card ul {
    list-style-type: square;
    color: var(--primary);
    padding-left: 24px;
}

.pricing_card li::marker {
    color: var(--primary);
}

.pricing_card ul li {
    font-size: var(--subtext);
    color: var(--text-grey);
}

.pricing_card a {
    width: 100%;
    text-align: center;
}

.recommended {
    border-color: var(--primary);
}

.recommended h4 {
    color: var(--primary);
}

.pricing_copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 600px;
    text-align: center;
}

/* Testimonies Section */
.testimonies_cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--border);
    margin-top: 32px;
    margin-bottom: 8px;
}

.testimony_card {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 30%;
}

.testimony_card p {
    font-size: var(--paragraphs);
}

.rating_star {
    font-size: 1.2rem;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 2px;
}

.testimony_user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimony_user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimony_user_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.testimony_user_content h4 {
    font-size: var(--paragraphs);
}

.testimony_user_content p {
    font-size: var(--subtext);
}

/* FAQ Section */
.faq_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 600px;
}

.faq_item {
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.faq_item:hover {
    border-color: rgba(70, 203, 211, 0.4);
    transform: scale(0.98);
}

.faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.faq_header h3 {
    font-size: var(--paragraphs);
}

.faq_header i {
    font-size: var(--paragraphs);
    color: var(--text-white);
}

.faq_item p {
    font-size: var(--captions);
    max-height: 0px;
    padding-top: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

/* CTA Section */

.cta_section {
    background: linear-gradient(80deg, transparent, rgba(70, 203, 211, 0.2));
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.cta_section h2 {
    font-size: var(--heading);
}
.cta_section p {
    font-size: var(--paragraphs);
}

/* Footer Section */

.footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-bottom: 34px;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_item,
.footer_links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.footer_item img {
    width: 200px;
    height: auto;
}

.footer_item h3 {
    font-size: var(--paragraphs);
}

.footer_links_item {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.footer_section p {
    font-size: var(--captions);
}

/* Mobile Responsiveness */

@media (max-width: 768px) {
    :root {
        --heading: 3rem;
        --subheadings: 2rem;
        --paragraphs: 1rem;
        --spacing: 100px;
    }

    .container {
        padding: 0 16px;
    }

    .hero_wrapper {
        flex-direction: column;
        gap: 60px;
    }

    .hero_image img {
        width: 100%;
    }

    .trust_row {
        flex-wrap: wrap;
    }

    .trust_card {
        width: 45%;
    }

    .solutions_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .medium {
        grid-column: span 2;
        grid-row: span 2;
    }

    .how_it_works_cards,
    .smart_features_cards,
    .pricing_cards,
    .our_tools_section,
    .footer_items,
    .footer_links_item {
        flex-direction: column;
    }

    .how_it_works_card,
    .smart_features_card,
    .pricing_card,
    .testimony_card {
        width: 100%;
    }

    .testimonies_cards {
        flex-direction: column;
        gap: 32px;
    }

    .our_tools_section,
    .footer_links_item {
        gap: 60px;
    }

    .our_tools_contents {
        max-width: 100%;
    }

    .our_tools_contents span {
        padding-right: 0px;
    }

    .our_tools_img {
        justify-content: center;
    }

    .our_tools_img img {
        width: 100%;
    }

    .footer_section {
        padding-bottom: 30px;
    }

    .cta_section h2 {
        font-size: 1.8rem;
    }

    /* Navbar */
    .navbar_menu {
        position: relative;
    }

    .navbar_menu img {
        width: 150px;
        height: auto;
    }

    .navbar_links {
        display: none;
        position: absolute;
        top: 55px;
        right: 0;
        left: 0;
        width: calc(100% + (2 * var(--container-padding, 16px)));
        margin-left: calc(-1 * var(--container-padding, 16px));
        margin-right: calc(-1 * var(--container-padding, 16px));
        background-color: rgba(18, 18, 23, 0.9);
        padding: 48px 0px;
        backdrop-filter: blur(40px);
        border-bottom: 1px solid var(--border);
        z-index: 9;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        transition: top 0.3s ease-in;
    }

    .navbar_links a {
        font-size: 1.4rem;
        color: var(--text-white);
    }

    .navbar_btns {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .mobile_menu i {
        font-size: 2rem;
        color: var(--text-white);
    }
}

/* Tablet Responsiveness */

@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --heading: 3rem;
        --subheadings: 2.2rem;
    }
    .container {
        padding: 0 24px;
    }
    .hero_wrapper {
        gap: 40px;
    }

    .hero_content {
        max-width: 100%;
    }
    .hero_image img {
        width: 350px;
    }

    /* Navbar */
    .navbar_menu {
        position: relative;
    }

    .navbar_menu img {
        width: 150px;
        height: auto;
    }

    .navbar_links {
        display: none;
        position: absolute;
        top: 55px;
        right: 0;
        left: 0;
        width: calc(100% + (2 * var(--container-padding, 16px)));
        margin-left: calc(-1 * var(--container-padding, 16px));
        margin-right: calc(-1 * var(--container-padding, 16px));
        background-color: rgba(18, 18, 23, 0.9);
        padding: 48px 0px;
        backdrop-filter: blur(40px);
        border-bottom: 1px solid var(--border);
        z-index: 9;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        transition: top 0.3s ease-in;
    }

    .navbar_links a {
        font-size: 1.4rem;
        color: var(--text-white);
    }

    .navbar_btns {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .mobile_menu i {
        font-size: 2rem;
        color: var(--text-white);
    }

    .how_it_works_card {
        width: 28%;
    }

    .smart_features_card {
        width: 31%;
    }

    .how_it_works_cards,
    .testimonies_cards {
        gap: 8px;
    }

    .smart_features_cards {
        gap: 16px;
        justify-content: start;
    }

    .testimony_card {
        width: 32%;
    }

    .footer_section {
        padding-bottom: 32px;
    }

    .pricing_cards {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: start;
    }

    .pricing_card {
        width: 48%;
    }
}
